/************** TAG SELECTORS **************/

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: rgb(51, 51, 51);
}

/************** CLASS SELECTORS **************/

.battle {
  background: white;
  border: rgb(252, 115, 115) solid 2px dashed;
  height: 500px;
  margin: auto;
  position: relative;
  width: 75%;
}

.scene {
  height: 450px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* INFO BOX */
.info {
  border: black solid 2px;
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  width: 70%;
}

/* ACTIONS MENU */
.actions {
  border: black solid 2px;
  bottom: 0;
  height: 50px;
  position: absolute;
  right: 0;
  width: 30%;
}

.btn-action {
  font-weight: bold;
  text-decoration: none;
  font-family: Arial;
  box-shadow: inset #595959 0px 5px 8px -1px;
  o-box-shadow: inset #595959 0px 5px 8px -1px;
  -moz-box-shadow: inset #595959 0px 5px 8px -1px;
  -webkit-box-shadow: inset #595959 0px 5px 8px -1px;
  background: #787878;
  background: -o-linear-gradient(90deg, #787878, #454545);
  background: -moz-linear-gradient(center top, #787878 5%, #454545 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #787878),
    color-stop(1, #454545)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#787878', endColorstr='#454545');
  background: -webkit-linear-gradient(#787878, #454545);
  background: -ms-linear-gradient(#787878, #454545);
  background: linear-gradient(#787878, #454545);
  text-indent: 0px;
  line-height: 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  color: #f7f7f7;
  width: 80px;
  height: 0px;
  padding: 13px;
  border-color: #2e2e2e;
  border-width: 1px;
  border-style: solid;
}

.btn-action:active {
  position: relative;
  top: 4px;
}

.btn-action:hover {
  background: #454545;
  background: -o-linear-gradient(90deg, #454545, #787878);
  background: -moz-linear-gradient(center top, #454545 5%, #787878 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #454545),
    color-stop(1, #787878)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#787878');
  background: -webkit-linear-gradient(#454545, #787878);
  background: -ms-linear-gradient(#454545, #787878);
  background: linear-gradient(#454545, #787878);
}

.center-sprite {
    text-align: center;
}

/************** IDENTIFIER SELECTORS **************/

/* MONSTERS */

#mon-mine {
  bottom: 0;
  border: black 1px solid;
  height: 220px;
  left: 0;
  position: absolute;
  width: 40%;
}

#mon-mine-hp {
  float: right;
  margin-right: 10px;
}

#mon-mine-hp-left {
  display: block;
  font-size: 0.75em;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 20px;
}

#mon-mine-name {
  float: right;
  margin-right: 10px;
}

#mon-adv {
  border: black 1px solid;
  height: 220px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}

#mon-adv-hp {
  float: left;
}

#mon-adv-name {
  float: left;
}
