@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
/************** TAG SELECTORS **************/

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: rgb(51, 51, 51);
}

/************** CLASS SELECTORS **************/

.battle {
  background: white;
  border: rgb(252, 115, 115) solid 2px dashed;
  height: 500px;
  margin: auto;
  position: relative;
  width: 75%;
}

.scene {
  height: 450px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* INFO BOX */
.info {
  border: black solid 2px;
  bottom: 0;
  font-family: 'Inconsolata', monospace;
  height: 50px;
  left: 0;
  position: absolute;
  width: 70%;
}

/* ACTIONS MENU */
.actions {
  border: black solid 2px;
  bottom: 0;
  height: 50px;
  position: absolute;
  right: 0;
  width: 30%;
}

.btn-action {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset #595959 0px 5px 8px -1px;
  background: #787878;
  background: linear-gradient(#787878, #454545);
  text-indent: 0px;
  line-height: 0px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 1em;
  color: #f7f7f7;
  width: 90px;
  height: 0px;
  padding: 13px;
  border-color: #2e2e2e;
  border-width: 1px;
  border-style: solid;
}

.btn-action:active {
  position: relative;
  top: 4px;
}

.btn-action:hover {
  background: #454545;
  background: linear-gradient(#454545, #787878);
}

.mon-hp {    
    background: solid green;
    box-shadow: 0 5px 5px -5px #333 inset;
}

.center-sprite {
    text-align: center;
}

/************** IDENTIFIER SELECTORS **************/

/* MONSTERS */

#mon-mine {
  bottom: 0;
  border: black 1px solid;
  height: 220px;
  left: 0;
  position: absolute;
  width: 40%;
}

#mon-mine-hp {
  float: right;
  margin-right: 10px;
}

#mon-mine-hp-left {
  display: block;
  font-size: 0.75em;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 20px;
}

#mon-mine-name {
  float: right;
  margin-right: 10px;
}

#mon-adv {
  border: black 1px solid;
  height: 220px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}

#mon-adv-hp {
  float: left;
  margin-left: 10px;
}

#mon-adv-name {
  float: left;
  margin-left: 10px;
}
